<nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/students">Students</a></li>
    </ul>
    <h1>this is the navigation section </h1>
  </nav>